<!-- survey.html -->
{% extends 'base.html' %}

{% block title %}Survey{% endblock %}
{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/survey.css' %}">
{% endblock %}

{% block content %}
<div class="container survey-wrapper">
    {% if survey.surveytranslation_set.all %}
        {% for survey_translation in survey.surveytranslation_set.all %}
            {% if survey_translation.language == LANGUAGE_CODE %}
                <h1 class="survey-title">{{survey_translation.title}}</h1>
            {% endif %}
        {% endfor %}
    {% else %}
        <h1 class="survey-title">{{survey.name}}</h1>
    {% endif %}


    <form action="{{ request.get_full_path }}" method="post" class="container" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="language" value="{{ LANGUAGE_CODE }}">
        <div class="row">
            {% for screen_id, questions  in survey.checked_screens.items %}
                <div class="screen-container" id="screen_{{screen_id}}">
                    <div class="input-field col s12">
                        {% for question in questions %}
                            <div class="question-container {% if question.hidden %}hide hiddable{% endif %} container {% if question.image %} centered {% endif %}" {% if question.exclusion_value %} exclusion-value={{question.exclusion_value}} {% endif%}>
                            {% if question.image %}
                                <img src="{{ question.image.url }}" alt="{{ question.image.name }}" class="survey-image">
                            {% endif %}
                            {% if question.questiontranslation_set.all %}
                                {% for question_translation in question.questiontranslation_set.all %}
                                    {% if question_translation.language == LANGUAGE_CODE %}
                                        {% with options=question_translation.options %}
                                            <p>{{ question_translation.question_prompt }}</p>
                                            {% if question.question_type == 'text' %}
                                                <input type="text" name="question_{{ question.name }}" required>
                                            {% elif question.question_type == 'prompt' %}
                                                <br>
                                            {% elif question.question_type == 'multiple_select' %}
                                                <div class="option-container {% if question.long_text %} block-label{% endif %}">
                                                    {% for option in options %}
                                                        <label {% if question.long_text %}class="block-label"{% endif %}>
                                                            <input type="checkbox" name="question_{{ question.name }}" value="{{ option.value }}">
                                                            <span>{{ option.label }}</span>
                                                            {{ option.label|length }}
                                                        </label>
                                                    {% endfor %}
                                                </div>
                                                <br>
                                            {% elif question.question_type == 'number' %}
                                                <input type="number" name="question_{{ question.name }}" required>
                                            {% elif question.question_type == 'recording' %}
                                                <div class="recording-container container valign-wrapper">
                                                    <button id="startButton_{{question.name}}" class="btn waves-effect waves-light record-button startRecording col">Start Recording</button>
                                                    <dotlottie-player class="hide recording-animation" src="https://lottie.host/d610f9d2-0fd5-4fe0-a7bb-af9382beb102/UgnoSoFgjn.json" background="transparent" speed="0.3" style="width: 150px; height: 150px;" loop autoplay></dotlottie-player>
                                                    <button id="stopButton_{{question.name}}" disabled class="stopRecording hide">Stop Recording</button>
                                                    <audio id="audioPlayer_{{question.name}}" controls class="audioPlayer hide"></audio>
                                                    <input type="hidden" id="audioBlob_{{question.name}}" name="audio_{{question.name}}">
                                                </div>
                                            {% else %}
                                                <div class="option-container{% if question.long_text %}block-label{% endif %}">
                                                        {% for option in options %}
                                                            <label {% if question.long_text %}class="block-label"{% endif %}>
                                                                <input type="radio" name="question_{{ question.name }}" value="{{ option.value }}">
                                                                <span>{{ option.label }}</span>
                                                            </label>
                                                        {% endfor %}
                                                </div>
                                            {% endif %}
                                            <br><br>
                                        {% endwith %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            </div>
                        {% endfor %}
                        {% if not forloop.first %}
                        <div class="flex left">
                            <div class="input-field col s3">
                                <button class="btn waves-effect waves-light previous-button" type="button" name="action">Previous</button>
                            </div>
                        </div>
                        {% endif %}
                        {% if forloop.last %}
                        <div class="flex right">
                            <div class="input-field col s3">
                                <button class="btn waves-effect waves-light submit-button" type="submit" name="action">Submit</button>
                            </div>
                        </div>
                        {% else %}
                        <div class="flex right">
                            <div class="input-field col s3">
                                <button class="btn waves-effect waves-light next-button hide" type="button" name="action">Next</button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/surveys.js' %}"></script>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
{% endblock %}
